<h1><%= @user.email %></h1>

<% if @user.products.any? %>
  <h4>Here are the products for this user:</h4>

  <% @user.products.each do |product| %>
    <ul>
      <li>
        <%= link_to product.title, user_product_path(@user, product) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No products are listed for this user.</p>
<% end %>

<p><%= link_to "Add a product", new_user_product_path(@user) %></p>

<p><%= link_to "Edit", edit_user_path(@user) %></p>
<p><%= link_to "Delete", user_path(@user),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to users", users_path %></p>
